# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# System files
.DS_Store
Thumbs.db

# IDE configs
.idea
*.iml
.vscode

# Git
.git
.gitignore

# OS/Editor swap files
*.swp
*.swo
*~
